.panel .row {
    margin-left: 0;
    margin-right: 0;
}

.panel-heading .col-xs-12,
.panel-heading .col-xs-12 div {
    padding-left: 0;
    padding-right: 0;
}

.file-type-menu-wrapper {
    padding: 7px;
}

.doc-file-type-refresh-icon {
    cursor: pointer;
    font-size: 15px;
}