
.panel .row {
    margin-left: 0;
    margin-right: 0;
}

.panel-heading .col-xs-12,
.panel-heading .col-xs-12 div {
    padding-left: 0;
    padding-right: 0;
}

.file-type-menu-wrapper {
    padding: 7px;
}

.doc-file-type-refresh-icon {
    cursor: pointer;
    font-size: 15px;
}

.template-element-wrapper {
    height: 40px;
    border-radius: 5px;
    /*background-color: #008bb9;*/
}

.doc-template-content-editor {
    height: 700px;
    overflow: scroll;
}

.doc-template-content-editor p:not(hr) {
    padding: 1px;
}

.doc-template-content-editor hr {
    padding: 0;
    margin: 5px;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    height: 5px;
}