
.editor-control-menu-nav .navbar-nav > li > a,
.editor-control-menu-nav .navbar-brand {
    padding-top: 8px !important;
    padding-bottom: 0 !important;
    height: 35px;
}
.editor-control-menu-nav {
    min-height: 24px !important;
    margin-top: 46px;
    z-index: 1;
}
.editor-control-menu-nav > .container-fluid {
    background-color: #f5f5f5;
}
.editor-control-menu-nav a {
    background-color: whitesmoke !important;
}

.editor-control-menu-nav a:visited,
.editor-control-menu-nav a:hover,
.editor-control-menu-nav a:active,
.editor-control-menu-nav a:focus {
    background-color: #d3d3d3 !important;
}
.editor-control-menu-nav a {
    color: #000000 !important;
}
.editor-control-menu-nav .dropdown-menu > li > a {
    padding: 5px 15px;
}

.nav a[data-toggle='modal']:focus {
    background-color: #333333 !important;
    outline: 0;
}

.panel .row {
    margin-left: 0;
    margin-right: 0;
}

.panel-heading .col-xs-12,
.panel-heading .col-xs-12 div {
    padding-left: 0;
    padding-right: 0;
}

.file-type-menu-wrapper {
    padding: 7px;
}

.doc-file-type-refresh-icon {
    cursor: pointer;
    font-size: 15px;
}

.template-element-wrapper {
    height: 40px;
    border-radius: 5px;
    /*background-color: #008bb9;*/
}

.doc-template-content-editor {
    /*height: 700px;*/
    /*overflow: scroll;*/
}

.doc-template-content-editor p[align='center'] {
    text-align: center;
}

.doc-template-content-editor p:not(hr) {
    padding: 1px;
}

.doc-template-content-editor hr {
    padding: 0;
    margin: 5px;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    height: 5px;
}

.editor-template-builder-wrapper {
    margin-top: 40px;
}

.editor-template-builder-wrapper .panel-body {
    padding: 5px;
}

.template-table-control {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
}