
.module-menu-heading-absolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.module-menu-heading {
    position: fixed;
    cursor: pointer;
    padding: 10px;
    margin-top: 2px;
    transition: all 0.3s ease 0ms;
    min-width: 150px;
}

.module-menu-heading h2 {
    padding-bottom: 12px;
}

.module-menu-heading .col-xs-6 {
    padding: 0;
}

.module-menu-title {
    transition: all 0.3s ease 0s;
    margin: 0;
    font-size: 18px;
    color: white;
}

.module-menu-title:hover {
    color: #008bb9;
}

.module-menu-list {
    background-color: #333333;
    box-shadow: 0 0 10px #333333;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    height: auto;
    color: white;
    margin-top: 10px;
}

.module-menu-list li:last-child {
    padding-bottom: 10px;
}

.module-menu-heading:hover .module-menu-list,
.module-menu-title:hover .module-menu-list {
    max-height: 275px;
}

.module-menu-list li {
    transition: all 0.2s ease 0s;
    padding: 5px;
}

.module-menu-list li:hover {
    color: #008bb9;
}

.module-menu-list li[data-error='not-implemented']:hover {
    color: #d8534f;
}

.module-menu-list:above-level {
    background-color: red;
}

.module-menu-list hr {
    margin: 0;
}

/* ModuleMenu2 */

.module-menu-block {
    position: absolute;
    transition: all 0.3s ease 0s;
    left: 0;
    top: 45px;
    overflow: hidden;
    width: 300px;
    background-color: #333333;
    border-top: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 0;
}

.module-menu-icon-text {
    font-size: 12px;
}

.module-menu-block-icon-wrapper > .tooltip {
    z-index: 3000;
    left: 100px !important;
}

.module-menu-title > a:hover .module-menu-block, .module-menu-block:hover {
    max-height: 250px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.module-menu-block-cell {
    margin: 10px;
}

.module-menu-block-icon-wrapper {
    text-align: center;
}

.module-menu-block-icon-wrapper > .module-menu-block-icon {
    font-size: 25px;
    color: #f5f5f5;
    transition: all 0.2s ease 0s;
}

.module-menu-block-icon-wrapper:hover > .module-menu-block-icon {
    color: #008bb9;
}
.module-menu-block-icon-wrapper[data-error]:hover > .module-menu-block-icon:after {
    color: indianred;
}