
.multiple .multiple-value {
    min-height: 100px;
}

.multiple-container {
    min-height: 20px;
    height: auto;
    padding: 5px 10px;
    width: 100%;
    margin-top: 5px;
}

.multiple-container .multiple-chosen {
    border-radius: 2px;
    padding: 2px;
}

.multiple-container .multiple-chosen:hover, select[multiple] option:hover {
    background-color: lightblue;
}

.multiple-container:empty:after {
    content: 'Нет элементов';
}

.multiple select {
    min-height: 200px;
}