
.panel-heading {
    font-size: 18px;
}

.panel-control-button {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.panel-control-button:hover:not(button) {
    color: #337ab6;
}

.panel button.panel-control-button:not(:first-child) {
    margin-left: 2px;
}
.panel button.panel-control-button:not(:last-child) {
    margin-right: 2px;
}

.panel-content > *:first-child {
    margin-top: 0;
}

.panel-content > *:last-child {
    margin-bottom: 0;
}

.panel-content > * {
    margin-left: 0;
    margin-right: 0;
}