/* Page height offset for fixed navigation bar */
html,
body {
    padding-top: 30px;
}

.no-padding {
    padding: 0;
}

.clear {
    padding: 0;
    margin: 0;
}

#page-content {
    padding: 3px 3px;
}

/* Remove margin from all form group elements */
.form-group {
    margin: 0;
}

/* Styles for required */
.required {
    white-space: nowrap;
    color: red;
}

/* Add that class to non selectable element */
.disable-selection {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

/* Different fixes for navigation bar menu */
nav .form-group .form-group {
    margin-bottom: -10px;
}

/* Different basic styles for GridView widget */
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}
a.asc:after {
    content: /*"\e113"*/ "\e151";
}
a.desc:after {
    content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
    content: "\e153";
}
.sort-numerical a.desc:after {
    content: "\e154";
}
.sort-ordinal a.asc:after {
    content: "\e155";
}
.sort-ordinal a.desc:after {
    content: "\e156";
}
.grid-view th {
    white-space: nowrap;
}

/* Fix for buttons margins as drop down list */
#navigation ul li .btn {
    margin: 5px;
}

.user-panel-wrapper {
    position: absolute;
    height: calc(100% - 50px);
    right: 0;
    top: 50px;
    width: 250px;
    background-color: lightcoral;
}

.glyphicon-45 {
    font-size: 45px;
}
.glyphicon-50 {
    font-size: 50px;
}

/* User panel stylization */
.user-info-header {
    height: 100px;
}
.user-info-body {
    /* 200 = 100 (header) + 50 (footer) + 50 (navigation) */
    height: calc(100% - 200px);
}
.user-info-footer {
    height: 50px;
}
.user-info-footer .glyphicon {
    color: #333;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.pointer {
    cursor: pointer;
}

.panel .row {
    margin-left: 0;
    margin-right: 0;
}

.panel-heading .col-xs-12, .panel-heading .col-xs-12 div {
    padding: 0;
}

.component-loading {
    position: absolute;
    width: 60px;
    height: 60px;
    left: calc(50% - 30px);
    bottom: calc(50% - 30px);
    z-index: 2;
    background: url('../img/ajax-loader.gif') no-repeat;
    background-size: 60px;
}

.component-loading + * {
    transition: all 0.5s ease 0s;
}

.vertical-align > * {
    display: table-cell;
    border: 1px solid #000000;
    height: 200px;
    vertical-align: middle;
    float: none;
}

.table {
    margin-bottom: 0;
}

.panel-body-fix {
    /*margin-right: -1px;*/
}

.panel-title {
    font-size: 15px;
}

#confirm-delete-modal .modal-content {
    /*top: 200px;*/
}

.pagination > li > a {
    color: black;
    text-decoration-style: solid;
}

.font-red {
    color: #a94442;
}

ul.btn-group {
    padding: 0;
}

.row {
    margin: 0;
}

.nav > li > ul > li > a {
    padding: 5px 15px;
}