
.table-wrapped {
    border: 1px solid #d3d3d3;
}

.table td > a {
    margin: 7px;
}

.table-header td[data-key][onclick] {
    cursor: pointer;
}

.table-header td[data-key][onclick]:hover {
    background-color: #f5f5f5;
}

.table-footer .pagination {
    margin: 0 0 -5px;
}

.table-control-icon {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.table-footer .pagination {
    margin-top: 3px;
}

.table-search-icon {
    cursor: pointer;
    font-size: 25px;
    margin-top: 8px;
}

.table-footer > tr > td > div {
    padding: 0;
}